li {
    list-style: none;
}

nav {
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.navbar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    justify-content: space-between;
}


.title {
    margin: 0;
    padding-top: 0;
}

.numero {
    margin: 0;
    padding-top: 0;
}

.reseaux {
    display: flex;
    margin-right: 0px;
    justify-content: space-around;
    width: 200px;
}

.menu {
    display: block;
    margin: 0;
    margin-top: 3px;
    padding: 0;
}


@media screen and (max-width:1024px){
    .numero {
        display: none;
    }
}

@media screen and (max-width:512px){
    .numero {
        display: none;
    }

    .reseaux {
        display: none;
    }
}






.carousel {
    overflow: hidden;
    /* width: 1664px; */
    max-width: 1664px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

.carousel .carou_item,
.carousel .carou_item--hidden {
    display: none;
}

.carousel .carou_item img {
    width: 100%;
    max-width: 1664px;
    height: auto;
}

.carousel .carou_item--visible {
    display: block;
}

.carousel .LesBoutons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .LesBoutons button{
    border-radius: 60px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 30px;
    height: 30px;

}

.carousel .LesBoutons button#carou_button--prev {
    margin-left: 10px;
}

.carousel .LesBoutons button#carou_button--next {
    margin-right: 10px;
}




.aboutUs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    max-width: 60%;
    margin: 0 auto;
}

.imgAboutUs {
    max-width: 750px;
    height: auto;
}

.aboutUs .imgAboutUs img {
    width: 85%;
    max-width: 750px;
    height: auto;
}

.aboutUs .chiffre {
    font-size: 60px;
}

.yew .carre .chiffre{
    margin-left: 30px;
    margin-top: 8px;
}

.carre {
    width: 80px;
    height: 80px;
    position: absolute;
    border: 5px solid green;
}

.yew .text{
    margin-left: 100px;
}

@media screen and (max-width:1024px){
    .aboutUs {
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: none;
    }
}







.headLP {
    top: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    justify-content: space-between;
}

.headLP h1 {
    margin-left: 125px;
}

.headLP ul {
    display: flex;
    margin-right: 0px;
    justify-content: space-around;
    width: 500px;
    margin-right: 50px;
}

.lesImgs {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.lesImgs div{
    max-width: 1300px;
    height: auto;
    position: relative;
}

.lesImgs img{
    width: 100%;
    max-width: 1300px;
    height: auto;
}

@media screen and (max-width:1024px){
    .lesImgs {
        grid-template-columns: repeat(2, 50%);
    }
}

.lesImgs p{
    font-size: x-large;
}

.lesImgs .text{
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 0;
    left: 10px;
    height: fit-content;
    width: 100%;
    margin-top: 40%;
}

/* a modifier pr mmetre a la ligne */
@media screen and (max-width:768px){
    .headLP {
        display: block;
    }

    .headLP ul {
        float: left;
        margin-left: 0;
        justify-content: space-around;
        width: 400px;
    }
}

@media screen and (max-width:512px){
    .lesImgs {
        grid-template-columns: repeat(1, 100%);
    }

    .headLP ul {
        float: left;
        margin-left: -5%;
    }
}

.headRC {
    top: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    justify-content: space-between;
}

.headRC h1 {
    margin-left: 125px;
}

.headRC ul {
    display: flex;
    margin-right: 100px;
}

.headRC li{
    margin-left: 15px;
}

.RetourClient .people {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.RetourClient img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

span {
    align-items: baseline;
    display: flex;
}





.headLN {
    top: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    justify-content: space-between;
}

.headLN h1 {
    margin-left: 125px;
}

.headLN ul {
    display: flex;
    margin-right: 100px;
}



.lesImgsLN {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.lesImgsLN div{
    max-width: 1300px;
    height: auto;
    position: relative;
}

.lesImgsLN img{
    width: 100%;
    max-width: 1300px;
    height: auto;
}

@media screen and (max-width:1024px){
    .lesImgsLN {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width:512px){
    .lesImgsLN {
        grid-template-columns: repeat(1, 100%);
    }
}

.lesImgsLN .textAHover {
    opacity: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    position: absolute;
    box-sizing: border-box;
    border: green 3px solid;
    /* color: white; */
}

.lesImgsLN .textAHover p{
    left: 10px;
}

.textAHover:hover{
    opacity: 1;
    transition: .7s;
    background-color: white;
}

hr {
    width: 90%;
    height: 0.5px;
    margin-bottom: 10px;
    margin-top: 50px;
    background-color: gray;
}





footer {
    display: grid;
    grid-template-columns: repeat(6, 16.5%);
}

footer h1 {
    margin: 0;
}

footer li {
    font-size: medium;
    text-align: center;
    margin: 0%;
}

.res {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:1024px){
    footer {
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
    }
}


